@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --neon-blue: #1e90ff; */
  --neon-blue: #00b5f8;
  --neon-gray: #1c1c1c;
  --neon-light-gray: #3f3f3f;
  --neon-orange: #ea9113;
  --neon-white: #f1f1f1;
  --white: #ffffff;
  --navbar-height: 3em;
}

.text-neon-blue {
  color: var(--neon-blue) !important;
}

.bg-neon-blue {
  background-color: var(--neon-blue);
}

.border-neon-blue {
  border-color: var(--neon-blue);
}

.text-neon-gray {
  color: var(--neon-gray) !important;
}

.bg-neon-gray {
  background-color: var(--neon-gray);
}

.text-neon-light-gray {
  color: var(--neon-light-gray) !important;
}

.bg-neon-light-gray {
  background-color: var(--neon-light-gray);
}

.text-neon-orange {
  color: var(--neon-orange) !important;
}

.bg-neon-orange {
  background-color: var(--neon-orange);
}

.text-neon-white {
  color: var(--neon-white) !important;
}

.bg-neon-white {
  background-color: var(--neon-white);
}

* {
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.h-navbar {
  min-height: 5rem;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
